<%setTitle('信息详情')%>
<%setJs('/static/js/post/create.js')%>
<%setCss('/static/less/post/create.less')%>
<%include /common/view_widget/base-header.chtml%>
</head>
<body >
<div id="container">
    <status-bar-b title="消息"></status-bar-b>
    <div class="main-wrap">
        <input  class="post-title" placeholder="请输入标题"/>
        <div class="post-content" contenteditable placeholder="请输入内容"></div>
    </div>
    <div class="add-img">
        图片
    </div>
</div>
<%include /common/view_widget/base-footer.chtml%>