<%setJs('/static/js/post/list.js')%>
<%setCss('/static/less/post/list.less')%>
<%include /common/view_widget/base-header.chtml%>
</head>
<body>

<div class="filter-area">
    <filter-widget>

    </filter-widget>

</div>


<div class="weui-cells post-list-wrap">
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <div class="cell-headnote">
                <div class="cell-category">促销</div>
                <div class="cell-mark">
                    认证用户 置顶消息
                </div>
            </div>
            <div class="cell-core-content">
                大望路招聘咖啡促销
            </div>
            <div class="cell-imgs">
                <img src="abc.png" alt="">
                <img src="aaa.png" alt="">
            </div>

            <div class="cell-footnote">
                <span>会说话的猫</span>
                <span>一天前发布</span>
            </div>
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <div class="cell-headnote">
                <div class="cell-category">促销</div>
                <div class="cell-mark">
                    认证用户 置顶消息
                </div>
            </div>
            <div class="cell-core-content">
                大望路招聘咖啡促销
            </div>
            <div class="cell-footnote">
                <span>会说话的猫</span>
                <span>一天前发布</span>
            </div>
        </div>
    </div>
</div>


<%include /common/view_widget/base-footer.chtml%>