<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div>第1行</div>
<div>第2行</div>
<div>第3行</div>
<div>第4行</div>
<div>第5行</div>
<div>第6行</div>
<div>第7行</div>
<div>第8行</div>
<div>第9行</div>
<div>第10行</div>
<div>第11行</div>
<div>第12行</div>
<div>第13行</div>
<div>第14行</div>
<div>第15行</div>
<div>第16行</div>
<div>第17行</div>
<div>第18行</div>
<div>第19行</div>
<div>第20行</div>
<div>第21行</div>
<div>第22行</div>
<div>第23行</div>
<div>第24行</div>
<div>第25行</div>
<div>第26行</div>
<div>第27行</div>
<div>第28行</div>
<div>第29行</div>
<div>第30行</div>
<div>第31行</div>
<div>第32行</div>
<div>第33行</div>
<div>第34行</div>
<div>第35行</div>
<div>第36行</div>
<div>第37行</div>
<div>第38行</div>
<div>第39行</div>
<div>第40行</div>
<div>第41行</div>
<div>第42行</div>
<div>第43行</div>
<div>第44行</div>
<div>第45行</div>
<div>第46行</div>
<div>第47行</div>
<div>第48行</div>
<div>第49行</div>
<div>第50行</div>
<div>第51行</div>
<div>第52行</div>
<div>第53行</div>
<div>第54行</div>
<div>第55行</div>
<div>第56行</div>
<div>第57行</div>
<div>第58行</div>
<div>第59行</div>
<div>第60行</div>
<div>第61行</div>
<div>第62行</div>
<div>第63行</div>
<div>第64行</div>
<div>第65行</div>
<div>第66行</div>
<div>第67行</div>
<div>第68行</div>
<div>第69行</div>
<div>第70行</div>
<div>第71行</div>
<div>第72行</div>
<div>第73行</div>
<div>第74行</div>
<div>第75行</div>
<div>第76行</div>
<div>第77行</div>
<div>第78行</div>
<div>第79行</div>
<div>第80行</div>
<div>第81行</div>
<div>第82行</div>
<div>第83行</div>
<div>第84行</div>
<div>第85行</div>
<div>第86行</div>
<div>第87行</div>
<div>第88行</div>
<div>第89行</div>
<div>第90行</div>
<div>第91行</div>
<div>第92行</div>
<div>第93行</div>
<div>第94行</div>
<div>第95行</div>
<div>第96行</div>
<div>第97行</div>
<div>第98行</div>
<div>第99行</div>
<div>第100行</div>
<div>第101行</div>
<div>第102行</div>
<div>第103行</div>
<div>第104行</div>
<div>第105行</div>
<div>第106行</div>
<div>第107行</div>
<div>第108行</div>
<div>第109行</div>
<div>第110行</div>
<div>第111行</div>
<div>第112行</div>
<div>第113行</div>
<div>第114行</div>
<div>第115行</div>
<div>第116行</div>
<div>第117行</div>
<div>第118行</div>
<div>第119行</div>
<div>第120行</div>
<div>第121行</div>
<div>第122行</div>
<div>第123行</div>
<div>第124行</div>
<div>第125行</div>
<div>第126行</div>
<div>第127行</div>
<div>第128行</div>
<div>第129行</div>
<div>第130行</div>
<div>第131行</div>
<div>第132行</div>
<div>第133行</div>
<div>第134行</div>
<div>第135行</div>
<div>第136行</div>
<div>第137行</div>
<div>第138行</div>
<div>第139行</div>
<div>第140行</div>
<div>第141行</div>
<div>第142行</div>
<div>第143行</div>
<div>第144行</div>
<div>第145行</div>
<div>第146行</div>
<div>第147行</div>
<div>第148行</div>
<div>第149行</div>
<div>第150行</div>
<div>第151行</div>
<div>第152行</div>
<div>第153行</div>
<div>第154行</div>
<div>第155行</div>
<div>第156行</div>
<div>第157行</div>
<div>第158行</div>
<div>第159行</div>
<div>第160行</div>
<div>第161行</div>
<div>第162行</div>
<div>第163行</div>
<div>第164行</div>
<div>第165行</div>
<div>第166行</div>
<div>第167行</div>
<div>第168行</div>
<div>第169行</div>
<div>第170行</div>
<div>第171行</div>
<div>第172行</div>
<div>第173行</div>
<div>第174行</div>
<div>第175行</div>
<div>第176行</div>
<div>第177行</div>
<div>第178行</div>
<div>第179行</div>
<div>第180行</div>
<div>第181行</div>
<div>第182行</div>
<div>第183行</div>
<div>第184行</div>
<div>第185行</div>
<div>第186行</div>
<div>第187行</div>
<div>第188行</div>
<div>第189行</div>
<div>第190行</div>
<div>第191行</div>
<div>第192行</div>
<div>第193行</div>
<div>第194行</div>
<div>第195行</div>
<div>第196行</div>
<div>第197行</div>
<div>第198行</div>
<div>第199行</div>
<div>第200行</div>
<div>第201行</div>
<div>第202行</div>
<div>第203行</div>
<div>第204行</div>
<div>第205行</div>
<div>第206行</div>
<div>第207行</div>
<div>第208行</div>
<div>第209行</div>
<div>第210行</div>
<div>第211行</div>
<div>第212行</div>
<div>第213行</div>
<div>第214行</div>
<div>第215行</div>
<div>第216行</div>
<div>第217行</div>
<div>第218行</div>
<div>第219行</div>
<div>第220行</div>
<div>第221行</div>
<div>第222行</div>
<div>第223行</div>
<div>第224行</div>
<div>第225行</div>
<div>第226行</div>
<div>第227行</div>
<div>第228行</div>
<div>第229行</div>
<div>第230行</div>
<div>第231行</div>
<div>第232行</div>
<div>第233行</div>
<div>第234行</div>
<div>第235行</div>
<div>第236行</div>
<div>第237行</div>
<div>第238行</div>
<div>第239行</div>
<div>第240行</div>
<div>第241行</div>
<div>第242行</div>
<div>第243行</div>
<div>第244行</div>
<div>第245行</div>
<div>第246行</div>
<div>第247行</div>
<div>第248行</div>
<div>第249行</div>
<div>第250行</div>
<div>第251行</div>
<div>第252行</div>
<div>第253行</div>
<div>第254行</div>
<div>第255行</div>
<div>第256行</div>
<div>第257行</div>
<div>第258行</div>
<div>第259行</div>
<div>第260行</div>
<div>第261行</div>
<div>第262行</div>
<div>第263行</div>
<div>第264行</div>
<div>第265行</div>
<div>第266行</div>
<div>第267行</div>
<div>第268行</div>
<div>第269行</div>
<div>第270行</div>
<div>第271行</div>
<div>第272行</div>
<div>第273行</div>
<div>第274行</div>
<div>第275行</div>
<div>第276行</div>
<div>第277行</div>
<div>第278行</div>
<div>第279行</div>
<div>第280行</div>
<div>第281行</div>
<div>第282行</div>
<div>第283行</div>
<div>第284行</div>
<div>第285行</div>
<div>第286行</div>
<div>第287行</div>
<div>第288行</div>
<div>第289行</div>
<div>第290行</div>
<div>第291行</div>
<div>第292行</div>
<div>第293行</div>
<div>第294行</div>
<div>第295行</div>
<div>第296行</div>
<div>第297行</div>
<div>第298行</div>
<div>第299行</div>
<div>第300行</div>
<div>第301行</div>
<div>第302行</div>
<div>第303行</div>
<div>第304行</div>
<div>第305行</div>
<div>第306行</div>
<div>第307行</div>
<div>第308行</div>
<div>第309行</div>
<div>第310行</div>
<div>第311行</div>
<div>第312行</div>
<div>第313行</div>
<div>第314行</div>
<div>第315行</div>
<div>第316行</div>
<div>第317行</div>
<div>第318行</div>
<div>第319行</div>
<div>第320行</div>
<div>第321行</div>
<div>第322行</div>
<div>第323行</div>
<div>第324行</div>
<div>第325行</div>
<div>第326行</div>
<div>第327行</div>
<div>第328行</div>
<div>第329行</div>
<div>第330行</div>
<div>第331行</div>
<div>第332行</div>
<div>第333行</div>
<div>第334行</div>
<div>第335行</div>
<div>第336行</div>
<div>第337行</div>
<div>第338行</div>
<div>第339行</div>
<div>第340行</div>
<div>第341行</div>
<div>第342行</div>
<div>第343行</div>
<div>第344行</div>
<div>第345行</div>
<div>第346行</div>
<div>第347行</div>
<div>第348行</div>
<div>第349行</div>
<div>第350行</div>
<div>第351行</div>
<div>第352行</div>
<div>第353行</div>
<div>第354行</div>
<div>第355行</div>
<div>第356行</div>
<div>第357行</div>
<div>第358行</div>
<div>第359行</div>
<div>第360行</div>
<div>第361行</div>
<div>第362行</div>
<div>第363行</div>
<div>第364行</div>
<div>第365行</div>
<div>第366行</div>
<div>第367行</div>
<div>第368行</div>
<div>第369行</div>
<div>第370行</div>
<div>第371行</div>
<div>第372行</div>
<div>第373行</div>
<div>第374行</div>
<div>第375行</div>
<div>第376行</div>
<div>第377行</div>
<div>第378行</div>
<div>第379行</div>
<div>第380行</div>
<div>第381行</div>
<div>第382行</div>
<div>第383行</div>
<div>第384行</div>
<div>第385行</div>
<div>第386行</div>
<div>第387行</div>
<div>第388行</div>
<div>第389行</div>
<div>第390行</div>
<div>第391行</div>
<div>第392行</div>
<div>第393行</div>
<div>第394行</div>
<div>第395行</div>
<div>第396行</div>
<div>第397行</div>
<div>第398行</div>
<div>第399行</div>
<div >第400行</div>

<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script>
    scrollLoading();
    function scrollLoading() {
        var screenHeight = $(window).height(); //一屏的高度
        var pageHeight = $(document).height(); //页面的高度
        var maxScrollHeight = pageHeight - screenHeight; //最大可滚动的高度

        var beforeScrollTop = $(window).scrollTop();
        $(document).on('scroll', function() {//监听页面滚动
            var currScrollTop = $(window).scrollTop();
            if (currScrollTop - beforeScrollTop > 0) {
                console.log('向下滚动');
                if (maxScrollHeight  == currScrollTop) {
                    console.log('滚动到底部');
                    requestData();
                }
            }
            beforeScrollTop = currScrollTop;
        })

        function requestData() {
            $(document).off('scroll');
            //ajax部分
            /*$.post('', {}, function(data) {
                //将数据append到dom中,略
                scrollLoading(); //重新执行滚动加载逻辑
            })*/
        }
    }

</script>
</body>
</html>